body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 5rem;
}

.alert {
  display: none;
  background-color: gray;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0px 0px 5px 5px;
  font-size: .9rem;
  z-index: 1031;
}

.alert.alert--info {
  background-color: lightsteelblue;
}

.type-bg-normal {
  color: #f8f8f8 !important;
  background-color: #a8a878 !important;
}

.type-bg-fire {
  color: #f8f8f8 !important;
  background-color: #f08030 !important;
}

.type-bg-water {
  color: #f8f8f8 !important;
  background-color: #6890f0 !important;
}

.type-bg-electric {
  color: #f8f8f8 !important;
  background-color: #f8d030 !important;
}

.type-bg-grass {
  color: #f8f8f8 !important;
  background-color: #78c850 !important;
}

.type-bg-ice {
  color: #f8f8f8 !important;
  background-color: #98d8d8 !important;
}

.type-bg-fighting {
  color: #f8f8f8 !important;
  background-color: #c03028 !important;
}

.type-bg-poison {
  color: #f8f8f8 !important;
  background-color: #a040a0 !important;
}

.type-bg-ground {
  color: #f8f8f8 !important;
  background-color: #e0c068 !important;
}

.type-bg-flying {
  color: #f8f8f8 !important;
  background-color: #a890f0 !important;
}

.type-bg-psychic {
  color: #f8f8f8 !important;
  background-color: #f85888 !important;
}

.type-bg-bug {
  color: #f8f8f8 !important;
  background-color: #a8b820 !important;
}

.type-bg-rock {
  color: #f8f8f8 !important;
  background-color: #b8a038 !important;
}

.type-bg-ghost {
  color: #f8f8f8 !important;
  background-color: #705898 !important;
}

.type-bg-dragon {
  color: #f8f8f8 !important;
  background-color: #7038f8 !important;
}

.type-bg-dark {
  color: #f8f8f8 !important;
  background-color: #705848 !important;
}

.type-bg-steel {
  color: #f8f8f8 !important;
  background-color: #b8b8d0 !important;
}

.type-bg-fairy {
  color: #f8f8f8 !important;
  background-color: #f0b6bc !important;
}

.type-bg-stellar {
  color: #f8f8f8 !important;
  background-color: #35ace7 !important;
}

.panel {
  max-width: 330px;
  height: 330px;
  border-radius: 2rem !important;
  padding: 2rem;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 20.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Pokéball' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 595.3 594.1' style='enable-background:new 0 0 595.3 594.1;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:%23DFDFDF;%7D .st2%7Bfill:%23FF1C1C;%7D .st3%7Bfill:%23DF1818;%7D%0A%3C/style%3E%3Cg id='Pokéball_1_'%3E%3Cg id='Colours'%3E%3Cpath id='Down' class='st0' d='M297.6,380.9c-40.4,0-74.1-28.6-82.1-66.6H81.1c9.5,110.5,102.2,197.2,215.1,197.2 s205.7-86.7,215.1-197.2H379.7C371.7,352.4,338,380.9,297.6,380.9z'/%3E%3Cpath id='Shadow_Down' class='st1' d='M345.6,505.9c89.6-21,157.7-97.7,165.7-191.6h-53C453,399.5,408.3,471.7,345.6,505.9z'/%3E%3Cpath id='Center' class='st0' d='M347.1,297L347.1,297C347,297,347,297,347.1,297c-0.1-6.1-1.2-11.9-3.2-17.3 c-7-18.8-25.1-32.1-46.3-32.1s-39.3,13.4-46.3,32.1c-2,5.4-3.1,11.2-3.1,17.3c0,0,0,0,0,0h0.1c0,0,0,0,0,0 c0,6.1,1.1,11.9,3.1,17.3c7,18.8,25.1,32.1,46.3,32.1c21.2,0,39.3-13.4,46.3-32.1C346,309,347.1,303.1,347.1,297 C347.1,297,347.1,297,347.1,297z'/%3E%3Cpath id='Up' class='st2' d='M297.7,213.2c40.4,0,74.1,28.6,82.1,66.6h134.4C504.7,169.2,412,82.5,299,82.5S93.4,169.2,83.9,279.7 h131.7C223.6,241.7,257.3,213.2,297.7,213.2z'/%3E%3Cpath id='Shadow_Up' class='st3' d='M458.3,279.7h55.8c-8.2-95.5-78.6-173.3-170.5-192.6C407.4,120.8,452.9,193.7,458.3,279.7z'/%3E%3C/g%3E%3Cpath id='Line' d='M299,82.5c113,0,205.7,86.7,215.1,197.2H379.7c-8-38-41.7-66.6-82.1-66.6c-40.4,0-74.1,28.6-82.1,66.6H83.9 C93.4,169.2,186.1,82.5,299,82.5z M343.9,279.7c2,5.4,3.1,11.2,3.1,17.3c0,0,0,0,0,0h0.1c0,0,0,0,0,0c0,6.1-1.1,11.9-3.1,17.3 c-7,18.8-25.1,32.1-46.3,32.1c-21.2,0-39.3-13.4-46.3-32.1c-2-5.4-3.1-11.2-3.1-17.3c0,0,0,0,0,0h-0.1c0,0,0,0,0,0 c0-6.1,1.1-11.9,3.1-17.3c7-18.8,25.1-32.1,46.3-32.1S336.9,261,343.9,279.7z M296.2,511.6c-113,0-205.7-86.7-215.1-197.2h134.4 c8,38,41.7,66.6,82.1,66.6s74.1-28.6,82.1-66.6h131.7C501.9,424.8,409.2,511.6,296.2,511.6z M297.6,41.3 C156.4,41.3,41.9,155.8,41.9,297s114.5,255.7,255.7,255.7S553.4,438.3,553.4,297S438.9,41.3,297.6,41.3z'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 159px 162px;
  position: relative;
  margin-bottom: 1.3rem;
  cursor: pointer;
}

.panel__id {
  font-size: 0.9rem;
  font-weight: 600;
  text-align: right;
  margin: 0;
}

.panel__name {
  margin: 0;
  margin-bottom: 4px;
}

.panel__types {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.panel__badge {
  margin: 0;
  background: linear-gradient(325deg, rgba(255,255,255,0.3) 30%, rgba(255,255,255,0.1) 100%);
  padding: 4px 20px;
  border-radius: 5rem;
  align-self: self-start;
}

.panel__image {
  position: absolute;
  width: 200px;
  height: auto;
  bottom: 5px;
  right: 5px;
}

.modal-content {
  border-radius: 2rem;
}

.modal-header {
  border: 0;
  color: #f8f8f8 !important;
  height: 320px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.modal-header > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-header-title {
  display: flex;
  flex-direction: column;

}

.modal-header-title h2 {
  margin: 0;
  margin-bottom: 0.3rem;
}

.modal-header-title ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
}

ul.panel__types {
  gap: 6px;
}

.modal-header img {
  width: 250px;
  height: auto;
  z-index: 1;
}

.modal-body {
  border-radius: 2rem;
  background-color: #fff;
  padding: 2.2rem;
  color: #000;
}

.modal-body dt {
  float: left;
  clear: left;
  width: 80px;
  text-align: right;
  font-weight: 500;
  color: #aaa;
}

.modal-body .tab-content {
  padding: 1.8rem 0.1rem;
}

.modal-body dt::after {
  content: ":";
}

.modal-body dd {
  margin: 0 0 0 110px;
  padding: 0 0 0.5em 0;
}

.modal-body .nav-link {
  color: #888;
}

.modal-body .progress {
  border-radius: 0;
}
