body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-top: 5rem;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.alert {
  display: none;
  background-color: gray;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 0px 0px 5px 5px;
  font-size: .9rem;
  z-index: 1031;
}

.alert.alert--info {
  background-color: lightsteelblue;
}
